<div class="editable-standard depth-{{standard.depth}}">
  {{i-input value=standard.listId focus-out="update" field="listId" object=standard}}
  <div class="editable-standard__listId">
    {{standard.listId}}
  </div>
  <div class="editable-standard__description">{{standard.description}}</div>
  <div class="editable-standard__notation">{{standard.statementNotation}}</div>
</div>
