{{!-- <span class="standard__guid">{{standard.id}}</span> --}}
<span class="standard__statement-notation">{{standard.statementNotation}}</span>
<span class="standard__description">{{{standard.description}}}</span>
<span class="standard__asn-identifier">{{standard.asnIdentifier}}</span>
{{!-- <span class="standard__next-standard">{{standard.nextStandard}}</span> --}}
