<div class="sortable-standard sortable-standard--depth-{{item.depth}}">
  {{#rl-dropdown-container class="sortable-standard__menu-container"}}
    {{#rl-dropdown-toggle class="sortable-standard__menu-toggle" tagName="div"}}
      {{partial "icons/menu-toggle"}}
    {{/rl-dropdown-toggle}}

    {{#rl-dropdown tagName="ul" class="sortable-standard__menu" closeOnChildClick="a"}}
      <li class="sortable-standard__delete sortable-standard__menu-item">
        <a>{{partial "icons/ios7-trash-filled"}} Delete</a>
      </li>
      <li class="sortable-standard__indent sortable-standard__menu-item" {{action "indent" item}}>
        <a>{{partial "icons/arrow-right"}} Indent</a>
      </li>
      <li class="sortable-standard__outdent sortable-standard__menu-item" {{action "outdent" item}}>
        <a>{{partial "icons/arrow-left"}} Outdent</a>
      </li>
      <li class="sortable-handle sortable-standard__handle sortable-standard__menu-item" >
        <a>{{partial "icons/ios7-move"}} Move</a>
      </li>

    {{/rl-dropdown}}
  {{/rl-dropdown-container}}
  <div class="sortable-standard__columns">
    <div class="sortable-standard__column--list-id">
      {{simple-editable value=item.listId class="sortable-standard__list-id hint--bottom" data-hint="E.g A or B or 1. or 2" placeholder="List Identifier"}}
    </div>
    <div class="sortable-standard__column--description">
      {{simple-editable value=item.description class="sortable-standard__description"}}
      {{simple-editable value=item.statementNotation class="sortable-standard__statement-notation"}}
    </div>
  </div>
</div>
